---
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;

---
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Logo.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
        name="description"
        content="Bienvenido a Mani Barber, tu destino para cortes de cabello de calidad en la comodidad de tu hogar."
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
      .datepicker input[type="date"] {
              appearance: none;
              -webkit-appearance: none;
              border: 1px solid #ccc;
              padding: 8px;
              font-size: 16px;
            }

            .datepicker input[type="date"]:focus {
              outline: none;
              border-color: dodgerblue;
            }
    </style>
  </body>
</html>
